body {
  width: 900px;
  margin: 0 auto;
}
form {
  margin-top: 30px;
  text-align: center;
}

label {
  width: 80px;
  height: 30px;
  text-align: right;
  display: inline-block;
  margin-right: 10px;
}
